server {
    listen 80;
    server_name _;
    
    root {{ web_root }};
    index index.html;

    access_log /var/log/nginx/lighthouse_access.log;
    error_log /var/log/nginx/lighthouse_error.log;

    location / {
        try_files $uri $uri/ =404;
    }

    # Дополнительные настройки для статических файлов
    location ~* \.(jpg|jpeg|png|gif|ico|css|js|svg)$ {
        expires 30d;
        add_header Cache-Control "public, no-transform";
    }
}

